<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/tasks/" class="nav-link {{ if eq .HeaderTabActiveName "tasks" }} active {{ else }} {{ end }}">Tasks</a>
      </li>
      <li class="nav-item"><a href="/reports/" class="nav-link {{ if eq .HeaderTabActiveName "reports" }} active {{ else }} {{ end }}">Reports</a></li>
      <li class="nav-item"><a href="/about/" class="nav-link {{ if eq .HeaderTabActiveName "about" }} active {{ else }} {{ end }}">About</a></li>
    </ul>
  </header>
</div>
