<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "head.html" . }}

    <link href="/css/tasks.css" type="text/css" rel="stylesheet" />

    <title>Worktracker | Tasks</title>
  </head>
  <body>
    <form class="list-group">
      <div class="form-group">
        <input class="form-control" placeholder="New task title" />
      </div>
      <div class="form-group mt-1">
        <input
          class="form-control"
          placeholder="New task description (Optional)"
        />
      </div>

      <div class="input-group mt-1">
        <button type="submit" class="btn btn-secondary form-control">
          Save
        </button>
        <button type="submit" class="btn btn-primary form-control">
          Save & Start
        </button>
      </div>
    </form>

    {{ template "footer.html" . }}
  </body>
</html>
